<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExcelHeader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCB7798E1C0A8936009BE3A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCB779A41C0A8937009BE3A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCB779AF1C0A8937009BE3A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
